# Ignora los archivos fbx
*.fbx

*.png

*.unitypackage

*.meta

*.prefab

*.wav

*.mp3

*.asset

*.shader

*.ai

*.pdf

*.ttf

*.mat

*.tif

*.obj

*.mtl

*.txt

*.tga

Assets/External/Polygon/*

Assets/External/GUI PRO Kit*

Assets/External/NavMesh*

Assets/External/Ultimate*

Assets/External/Universal*

Assets/External/TextMesh Pro*

Assets/External/Sword Pack*

Assets/External/GDU*

Assets/Models/Environments/*

Builds/*

Library/*

Logs/*